@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample App - Deployed using Github action.</h1>
    <p>Sample app for deployment to azure app service.</p>
</div>
